.BookCard {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) ;
    width: 160px;
    max-height: 200px;
    background-color: violet;
    margin: 10px;
    margin-bottom: 80px;
  }

  .BookCard > img {
      width: 100%;
      height: 200px;
  }

  .BookCard > p {
      margin: 0;
      padding: 8px;
  }